.commentP{
	padding:5px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-size: 10px !important;
	color: black !important;
}
.commentP:nth-child(even){
	background-color: #EFF7FF;
}
.commentP:nth-child(odd){
	background-color: #FFFFFF;
}