.commentA{
	background-color: #EFF7FF;
	padding:5px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-size: 10px !important;
	color: black !important;
}
.commentB{
	background-color: #FFFFFF;
	padding:5px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-size: 10px !important;
	color: black !important;
}
.bottomText{
	margin-left: 5px;
}
.loading{
	color:red;
	font-size: 16px;
}
	.loading::after{
		content: "Loading comments...";
	}
.loadMore{
	color:blue;
	font-size: 12px;
	cursor: pointer;
}
	.loadMore::after{
		content: "Load more comments...";
	}
.commentContent{
	padding-bottom: 5px;
}